@charset "UTF-8";

:root {
    /* Color
    -------------------------------------- */
    --color-gray-0: #141414;
    --color-gray-1: #444;
    --color-gray-2: #666;
    --color-gray-3: #999;
    --color-gray-4: #bbb;
    --color-gray-5: #eee;
    --color-gray-6: #f5f5f5;
    --color-gray-7: #fff;
    --color-gold: #68665e;
    --color-gold-pale: #E7E6E2;

	--color-key:#00517E;
	--color-key-light:#3c4951;

    /* Fonts
    -------------------------------------- */



    --font-size-h1: 1.75rem;
    --font-size-h1-sub: 1.2rem;
    --font-size-h2: 4.5rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.125rem;

    --font-size-button: 1.3125rem;
    --font-size-outline: 1.25rem;

    --font-size-exhibition-name: 1.25rem;

    --font-size-ul: 0.875rem;
    --font-size-caption: 0.875rem;

    /* Shadow
    -------------------------------------- */
    --shadow-top-fixed: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));

    /* margin
    -------------------------------------- */
    --width-max: 1408px;

    --margin-side: 80px;
    /*--margin-side-middle: 60px;
    --margin-side-narrow: 40px;*/
    --margin-side-fv: calc(((var(--width-max) - var(--margin-side) *2)/ 12) + var(--margin-side));
    /*184px*/
    --margin-top: 40px;

}

/*font sample

Ryo Text PlusN R
font-family: ryo-text-plusn, serif;
font-weight: 400;


Ryo Text PlusN M
font-family: ryo-text-plusn, serif;
font-weight: 500;
font-style: normal;


Ryo Text PlusN L
font-family: ryo-text-plusn, serif;
font-weight: 300;
font-style: normal;


*/

/*--- reset CSS ---*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	line-height: 1.0;
	min-height: var(--viewport-height);
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
	background-color: #FFFFFF;
	font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN", "Hiragino Sans",Meiryo,sans-serif;
	line-height:1.6;
	color:var(--color-key-light);
}

/*多分ギザギザのやつ*/
body:before {
	background-attachment: scroll;
	content: '';
	display: block;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20path%20%7B%20fill%3A%20none%3B%20stroke-linecap%3A%20round%3B%20stroke-width%3A%202.01px%3B%20stroke%3A%20rgba(0,0,0,0.02)%3B%20vector-effect%3A%20non-scaling-stroke%3B%20%7D%20%3C%2Fstyle%3E%20%3Cpath%20d%3D%22M-8%2C232L256%2C32%20M520%2C232L256%2C32%22%20%2F%3E%20%3Cpath%20d%3D%22M-8%2C488l264-200%20M520%2C488L256%2C288%22%20%2F%3E%3C%2Fsvg%3E');
	background-size: 574px;
	background-position: center;
	background-repeat: repeat;
}

body:after {
	background-color: #FFFFFF;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transform: scale(1);
	transition: opacity 0.5s ease-in-out 0s, visibility 0.5s 0s;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

body.is-loading:after {
	opacity: 1;
	visibility: visible;
}

:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-direction: ltr;
	--site-language-flex-alignment: flex-start;
	--viewport-height: 100vh;
}


u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	text-indent: 0;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

s {
	text-decoration: line-through;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: var(--viewport-height);
	overflow: hidden;
	position: relative;
	z-index: 2;
}

#main {
	--alignment: var(--site-language-alignment);
	--flex-alignment: var(--site-language-flex-alignment);
	--border-radius-tl: 0;
	--border-radius-tr: 0;
	--border-radius-br: 0;
	--border-radius-bl: 0;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
}

#main > .inner {
	--padding-horizontal: 0rem;
	--padding-vertical: 0rem;
	--spacing: 1rem;
	--width: 50rem;
	border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
	width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}

#main > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > *  {
	transition: none !important;
}

body.is-instant:after {
	display: none !important;
	transition: none !important;
}

@keyframes loading-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.deferred:before {
	content: '';
	display: block;
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2rem 0 0 -2rem;
	animation: loading-spinner 1s infinite linear;
	transition: opacity 0.25s ease;
	transition-delay: 0.5s;
	opacity: 0;
	z-index: -1;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem;
}

.deferred.loading:before {
	opacity: 0.35;
	z-index: 0;
}

h1, h2, h3, h4{
	font-family: zen-old-mincho,ryo-text-plusn, serif;
	line-height:1.3;

	}

	
	.hero{
		color:#fff;
		font-family: zen-old-mincho,ryo-text-plusn, serif;
		font-weight:200;
	}

	.hero h1>span{
		display:block;
		font-size:72px;
		font-weight:200;
		font-family: zen-old-mincho,ryo-text-plusn, serif;
	
	}
	.hero h1>span.ja{
		font-size:1.75rem;
		
	}
	.hero h1>span.en{
		/*letter-spacing: 0.1em;*/
	}
	.hero .info p{
		margin:0;
	}

	.hero .info p.date{
		font-size:3rem;
	}
	.hero .info p.time{
		font-size:1.5rem;
	}
	.hero .info p.location{
		font-size:1.25rem;
	}
	.hero .info .location-data{
		display: flex;
		font-size:1rem;
	}
	.hero .info .location-data>p{
		margin-right:8px;
	}
	.hero .info a{
		display:flex;
		text-decoration: none;

	}
	.hero .info a>img{
		width:1em;
		height:1em;
		margin-left:6px;
	}
h1{
	font-size:2rem;
	font-weight:400;

}
h1, h2, h3, p {
	direction: var(--site-language-direction);
	position: relative;
}


h2{
	font-size:1.5rem;
	margin-bottom:1em;
	font-weight:600;
}
section{
	margin:120px 0;
}


p{
	font-size:0.875rem;
	margin:2em 0;
	
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
	display: block;
	position: relative;
}

h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark {
	-webkit-text-fill-color: currentcolor;
}


.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.icons li {
	position: relative;
	z-index: 1;
}

.icons li a {
	align-items: center;
	display: flex;
	justify-content: center;
}

.icons li a svg {
	display: block;
	position: relative;
}

.icons li a + svg {
	display: block;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.icons li a .label {
	display: none;
}

.icons.style1 {
	font-size: 1.25em;
	gap: 1.125rem;
}

.icons.style1:not(:first-child) {
	margin-top: 2.125rem !important;
}

.icons.style1:not(:last-child) {
	margin-bottom: 2.125rem !important;
}

.icons.style1 li a {
	border-radius: 100%;
	height: 2em;
	width: 2em;
	transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.icons.style1 li a svg {
	height: 60%;
	width: 60%;
	transition: fill 0.25s ease;
}

/*この辺がscgiconの色*/
.icons.style1 a svg {
	fill: rgba(255,255,255,0.9);
}

.icons.style1 a {
	border: solid 1px rgba(255,255,255,0.9);
}

.icons.style1 li a + svg {
	transition: transform 0.25s ease, fill 0.25s ease, stroke 0.25s ease;
}

.icons.style1 li a:hover {
	transform: scale(1.1125);
}

.icons.style1 li a:hover + svg {
	transform: scale(1.1125);
}

.buttons {
	cursor: default;
	display: flex;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.buttons li {
	max-width: 100%;
}

.buttons li a {
	align-items: center;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

.buttons.style1 {
	gap: 0.75rem;
	flex-direction: row;
	flex-wrap: wrap;
}
/*
.buttons.style1:not(:first-child) {
	margin-top: 2.5rem !important;
}*/

.buttons.style1:not(:last-child) {
	margin-bottom: 2.5rem !important;
}

.buttons.style1 li a {
	display: flex;
	width: auto;
	height: 3.5rem;
	line-height: 3.5rem;
	padding: 0 1.75rem;
	vertical-align: middle;
	letter-spacing: 0.025rem;
	padding-left: calc(0.025rem + 1.75rem);
	font-size: 0.875em;
	font-weight: 400;
	border-radius: 2rem;
	justify-content: flex-start;
	transition: transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.buttons.style1 li a svg {
	display: block;
	fill: rgba(0,0,0,0.69);
	height: 100%;
	min-width: 16px;
	width: 1em;
	flex-grow: 0;
	flex-shrink: 0;
	margin-left: -0.125em;
	margin-right: calc(0.5em + 0.025rem);
	transition: fill 0.25s ease;
}

.buttons.style1 li a .label {
	direction: var(--site-language-direction);
	flex-grow: 1;
	flex-shrink: 1;
	text-align: right;
	width: 100%;
}

.buttons.style1 .button {
	color: rgba(0,0,0,0.69);
	border: solid 1px rgba(0,0,0,0.149);
}

.buttons.style1 .button svg {
	fill: rgba(0,0,0,0.149);
}

.buttons.style1 li a:hover {
	transform: scale(1.0425);
}

.container {
	position: relative;
}

.container > .wrapper {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
}

.container > .wrapper > .inner {
	vertical-align: top;
	position: relative;
	max-width: 100%;
	border-radius: inherit;
	text-align: var(--alignment);
}

#main .container.full:first-child > .wrapper {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main .container.full:first-child > .wrapper > .inner {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main .container.full:last-child > .wrapper > .inner {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.container.style1 {
	display: flex;
	width: 100%;
	min-height: var(--viewport-height);
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border-color: rgba(0,0,0,0.149);
	border-style: solid;
	border-bottom-width: 1px;
}

.container.style1:not(:first-child) {
	margin-top: 8rem !important;
}

.container.style1:not(:last-child) {
	margin-bottom: 8rem !important;
}

.container.style1 > .wrapper > .inner {
	--gutters: 2rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

.container.style1 > .wrapper {
	max-width: var(--width);
	width: 100%;
}

.container.style1.default > .wrapper > .inner > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

.container.style1.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

.container.style1.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}

.container.style1.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
}

.container.style1.columns > .wrapper > .inner > * {
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	text-align: var(--alignment);
	padding: 0 0 0 var(--gutters);
}

.container.style1.columns > .wrapper > .inner > * > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

.container.style1.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

.container.style1.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

.container.style1.columns > .wrapper > .inner > *:first-child {
	margin-left: calc(var(--gutters) * -1);
}

.container.style1.default > .wrapper > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: none !important;
	width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

.container.style1.default > .wrapper > .inner > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.container.style1.default > .wrapper > .inner > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.container.style1.columns > .wrapper > .inner > div > .full {
	margin-left: calc(var(--gutters) * -0.5);
	max-width: none !important;
	width: calc(100% + var(--gutters) + 0.4725px);
}

.container.style1.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

.container.style1.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

.container.style1.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

.container.style1.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

.container.style1.columns > .wrapper > .inner > div:first-child, .container.style1.columns > .wrapper > .inner > div:first-child > .full:first-child {
	border-top-left-radius: inherit;
}

.container.style1.columns > .wrapper > .inner > div:last-child, .container.style1.columns > .wrapper > .inner > div:last-child > .full:first-child {
	border-top-right-radius: inherit;
}

.container.style1.columns > .wrapper > .inner > .full {
	align-self: stretch;
	min-height: calc(var(--viewport-height) - (var(--padding-vertical) * 2));
}

.container.style1.columns > .wrapper > .inner > .full:first-child {
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}

.container.style1.columns > .wrapper > .inner > .full:last-child {
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}

.container.style1.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	border-radius: inherit;
	height: calc(100% + (var(--padding-vertical) * 2));
}

.container.style1.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	border-radius: inherit;
	height: 100%;
	position: absolute;
	width: 100%;
}

.container.style2 {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}
/*
.container.style2:not(:first-child) {
	margin-top: 8rem !important;
}

.container.style2:not(:last-child) {
	margin-bottom: 8rem !important;
}
*/
.container.style2 > .wrapper > .inner {
	--gutters: 2rem;
	--padding-horizontal: 0rem;
	--padding-vertical: 0rem;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

.container.style2 > .wrapper {
	max-width: var(--width);
	width: 100%;
}
/*
.container.style2.default > .wrapper > .inner > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

.container.style2.default > .wrapper > .inner > *:first-child {
	margin-top: 0 !important;
}

.container.style2.default > .wrapper > .inner > *:last-child {
	margin-bottom: 0 !important;
}
*/
.container.style2.columns > .wrapper > .inner {
	flex-wrap: wrap;
	display: flex;
	align-items: flex-start;
}

.container.style2.columns > .wrapper > .inner > * {
	flex-grow: 0;
	flex-shrink: 0;
	max-width: 100%;
	text-align: var(--alignment);
	padding: 0 0 0 var(--gutters);
}

.container.style2.columns > .wrapper > .inner > * > * {
	margin-bottom: var(--spacing);
	margin-top: var(--spacing);
}

.container.style2.columns > .wrapper > .inner > * > *:first-child {
	margin-top: 0 !important;
}

.container.style2.columns > .wrapper > .inner > * > *:last-child {
	margin-bottom: 0 !important;
}

.container.style2.columns > .wrapper > .inner > *:first-child {
	margin-left: calc(var(--gutters) * -1);
}

.container.style2.default > .wrapper > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: none !important;
	width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

.container.style2.default > .wrapper > .inner > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.container.style2.default > .wrapper > .inner > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > div > .full {
	margin-left: calc(var(--gutters) * -0.5);
	max-width: none !important;
	width: calc(100% + var(--gutters) + 0.4725px);
}

.container.style2.columns > .wrapper > .inner > div:first-child > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

.container.style2.columns > .wrapper > .inner > div:last-child > .full {
	width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

.container.style2.columns > .wrapper > .inner > div > .full:first-child {
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

.container.style2.columns > .wrapper > .inner > div > .full:last-child {
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

.container.style2.columns > .wrapper > .inner > div:first-child, .container.style2.columns > .wrapper > .inner > div:first-child > .full:first-child {
	border-top-left-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > div:last-child, .container.style2.columns > .wrapper > .inner > div:last-child > .full:first-child {
	border-top-right-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full {
	align-self: stretch;
}

.container.style2.columns > .wrapper > .inner > .full:first-child {
	border-bottom-left-radius: inherit;
	border-top-left-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full:last-child {
	border-bottom-right-radius: inherit;
	border-top-right-radius: inherit;
}

.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child {
	border-radius: inherit;
	height: calc(100% + (var(--padding-vertical) * 2));
}

.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
	border-radius: inherit;
	height: 100%;
	position: absolute;
	width: 100%;
}

.image {
	display: block;
	line-height: 0;
	max-width: 100%;
	position: relative;
}

.image .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
}

.image .frame img {
	border-radius: 0 !important;
	max-width: 100%;
	vertical-align: top;
	width: inherit;
}

.image.full .frame {
	display: block;
}

.image.full:first-child .frame {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

/*
.image.style1:not(:first-child) {
	margin-top: 4rem !important;
}

.image.style1:not(:last-child) {
	margin-bottom: 4rem !important;
}
*/

.image.style1 .frame {
	width: 100vw;
	height: auto;
	transition: none;
}

.image.style1 img {
	height: 100% !important;
	object-fit: cover;
	object-position: center;
	width: 100% !important;
}

.image.style1 .frame img {
	transition: none;
}

hr {
	border: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

hr:before {
	content: '';
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

hr.style1:not(:first-child) {
	margin-top: 8rem !important;
}

hr.style1:not(:last-child) {
	margin-bottom: 8rem !important;
}

hr.style1:before {
	width: 100%;
	border-top: solid 1px transparent;
	height: 1px;
	margin-top: -0.5px;
}

/*--- Add --*/


.youtube {
	width: 100%;
	aspect-ratio: 16 / 9;
  }
  .youtube iframe {
	width: 100%;
	height: 100%;
  }

.youtube+p{
	margin-bottom:0;
}
/* Hero
--------------------------------------------- */

.hero-wrapper{
	background-color: var(--color-key);
}
.hero {
    height: 100vh;
    display: flex;
	position:relative;
}


.hero>div {
    height: 100vh;
    display: inline-block;
}

.hero .side-R, .hero .side-L {
    background-color: #fff;
    width: var(--margin-side-fv);
}


.hero .mv {

    width: 100%;/*calc(100% - var(--margin-side-fv) * 2)*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(./images/key.jpg);


}

.hero .title{
padding:48px;
z-index:10;
}



#wrapper {
    position: relative;
    min-height: 100%;
    /*height: 400px;/*--スクロールをさせるため 高さ指定--*/
    background-size: cover; /*--背景画像のサイズ--*/
    background-attachment: fixed; /*--背景画像の固定--*/
    background-repeat: no-repeat; /*--背景画像の繰り返し--*/
    background-position: center center; /*--背景画像の位置--*/
	background-image: url(./images/key_bg.jpg);
}

  
  /* 背景画像の見えている高さ */
  .parallax {
	height: 100vh;
  }
  
  /* 背景画像 */
  .parallax::before {
	background-image: url(./images/key.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 100vh;
	right: 0;
	position: fixed;
	top: 0;
	width: 50%;
	z-index: 1;
  }

  .line-rect{
	border:2px solid #fff;
	position:fixed;
	width:calc(100% - 40px);
	height:calc(100% - 40px);
	z-index:4;
	left:20px;
	top:20px;
  }
/* Footer
--------------------------------------------- */


footer{
	width:100%;
	text-align: center;
}

footer p{
	font-size:0.75rem;
	color:#666;
	margin-bottom:32px;
}

@media (max-width:810px) {

	
 /* 背景画像 */
 .parallax::before {
	background-image: url(./images/key.jpg);
	background-position: right;
	width: 100%;
  }

  .line-rect{

	z-index:2;
background: linear-gradient(to left top,  #00527e00,#00527ee4);;
  }

	#main > .inner {
		--padding-horizontal: 2rem;
		--padding-vertical: 3.5rem;
		--spacing: 1rem;
	}
	/*
	h1.style2:not(:first-child), h2.style2:not(:first-child), h3.style2:not(:first-child), p.style2:not(:first-child) {
		margin-top: 1.59375rem !important;
	}
	
	h1.style2:not(:last-child), h2.style2:not(:last-child), h3.style2:not(:last-child), p.style2:not(:last-child) {
		margin-bottom: 1.59375rem !important;
	}
	
	h1.style2, h2.style2, h3.style2, p.style2 {
		letter-spacing: 0.0875rem;
		width: calc(100% + 0.0875rem);
		font-size: 0.875em;
		line-height: 2;
	}
	
	h1.style3, h2.style3, h3.style3, p.style3 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.625em;
		line-height: 1.625;
	}
	
	h1.style1, h2.style1, h3.style1, p.style1 {
		letter-spacing: 0.021875rem;
		width: calc(100% + 0.021875rem);
		font-size: 0.875em;
		line-height: 2.25;
	}
	
	h1.style4, h2.style4, h3.style4, p.style4 {
		letter-spacing: 0.021875rem;
		width: calc(100% + 0.021875rem);
		font-size: 1em;
		line-height: 1.5;
	}
	*/
	.icons.style1 {
		font-size: 1.375em;
		gap: 0.875rem;
	}
	
	.icons.style1:not(:first-child) {
		margin-top: 1.59375rem !important;
	}
	
	.icons.style1:not(:last-child) {
		margin-bottom: 1.59375rem !important;
	}
	
	.buttons.style1:not(:first-child) {
		margin-top: 1.875rem !important;
	}
	
	.buttons.style1:not(:last-child) {
		margin-bottom: 1.875rem !important;
	}
	
	.buttons.style1 li a {
		letter-spacing: 0.025rem;
		padding-left: calc(0.025rem + 1.75rem);
		font-size: 0.875em;
	}
	
	.buttons.style1 li a svg {
		width: 1em;
	}
	
	
	
	.container.style1:not(:first-child) {
		margin-top: 2.625rem !important;
	}
	
	.container.style1:not(:last-child) {
		margin-bottom: 2.625rem !important;
	}
	
	.container.style1 > .wrapper > .inner {
		--gutters: 2rem;
	}
	
	.container.style1.columns > .wrapper > .inner {
		flex-direction: column !important;
		flex-wrap: nowrap !important;
	}
	
	.container.style1.columns > .wrapper > .inner > span {
		height: 0;
		margin-top: calc(var(--gutters) * -1);
		pointer-events: none;
		visibility: hidden;
	}
	
	.container.style1.columns > .wrapper > .inner > *:first-child {
		margin-left: 0 !important;
		padding-top: 0 !important;
	}
	
	.container.style1.columns > .wrapper > .inner > * {
		padding: calc(var(--gutters) * 0.5) 0 !important;
	}
	
	.container.style1.columns > .wrapper > .inner > *:last-child {
		padding-bottom: 0 !important;
	}
	
	.container.style1.columns > .wrapper > .inner > div > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	.container.style1.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	.container.style1.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	.container.style1.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(var(--gutters) * -0.5) !important;
	}
	
	.container.style1.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(var(--gutters) * -0.5) !important;
	}
	
	.container.style1.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(var(--padding-vertical) * -1) !important;
	}
	
	.container.style1.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(var(--padding-vertical) * -1) !important;
	}
	
	.container.style1.columns > .wrapper > .inner > div:first-of-type, .container.style1.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	
	.container.style1.columns > .wrapper > .inner > div:last-of-type, .container.style1.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	
	.container.style1.columns > .wrapper > .inner > div:first-of-type, .container.style1.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
		border-bottom-left-radius: 0 !important;
	}
	
	.container.style1.columns > .wrapper > .inner > div:last-of-type, .container.style1.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
		border-top-right-radius: 0 !important;
	}
	
	.container.style1.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: auto;
	}
	
	.container.style1.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
		height: auto;
		position: relative;
		width: auto;
	}
	
	
	
	.container.style2:not(:first-child) {
		margin-top: 2.625rem !important;
	}
	
	.container.style2:not(:last-child) {
		margin-bottom: 2.625rem !important;
	}
	
	.container.style2 > .wrapper > .inner {
		--gutters: 2rem;
		--padding-horizontal: 0rem;
		--padding-vertical: 0rem;
	}
	
	.container.style2.columns > .wrapper > .inner {
		flex-direction: column !important;
		flex-wrap: nowrap !important;
	}
	
	.container.style2.columns > .wrapper > .inner > span {
		height: 0;
		margin-top: calc(var(--gutters) * -1);
		pointer-events: none;
		visibility: hidden;
	}
	
	.container.style2.columns > .wrapper > .inner > *:first-child {
		margin-left: 0 !important;
		padding-top: 0 !important;
	}
	
	.container.style2.columns > .wrapper > .inner > * {
		padding: calc(var(--gutters) * 0.5) 0 !important;
	}
	
	.container.style2.columns > .wrapper > .inner > *:last-child {
		padding-bottom: 0 !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	.container.style2.columns > .wrapper > .inner > div:first-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	.container.style2.columns > .wrapper > .inner > div:last-of-type > .full {
		margin-left: calc(var(--padding-horizontal) * -1);
		width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
	}
	
	.container.style2.columns > .wrapper > .inner > div > .full:first-child {
		margin-top: calc(var(--gutters) * -0.5) !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div > .full:last-child {
		margin-bottom: calc(var(--gutters) * -0.5) !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		margin-top: calc(var(--padding-vertical) * -1) !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		margin-bottom: calc(var(--padding-vertical) * -1) !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div:first-of-type, .container.style2.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}
	
	.container.style2.columns > .wrapper > .inner > div:last-of-type, .container.style2.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}
	
	.container.style2.columns > .wrapper > .inner > div:first-of-type, .container.style2.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
		border-bottom-left-radius: 0 !important;
	}
	
	.container.style2.columns > .wrapper > .inner > div:last-of-type, .container.style2.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
		border-top-right-radius: 0 !important;
	}
	
	.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child {
		height: auto;
	}
	
	.container.style2.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
		height: auto;
		position: relative;
		width: auto;
	}
	
	
	.image.style1:not(:first-child) {
		margin-top: 2.625rem !important;
	}
	
	.image.style1:not(:last-child) {
		margin-bottom: 2.625rem !important;
	}
	
	.image.style1 .frame {
		height: 25rem !important;
	}
	
	.image.style1 img {
		height: 100% !important;
		object-fit: cover;
		object-position: center;
		width: 100% !important;
	}
	
	hr.style1:not(:first-child) {
		margin-top: 2rem !important;
	}
	
	hr.style1:not(:last-child) {
		margin-bottom: 2rem !important;
	}
}

@media (max-width: 480px) {
	#main > .inner {
		--spacing: 0.875rem;
	}
	
	
	
	
	
	
	
	.image.style1 .frame {
		height: 20rem !important;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		--padding-horizontal: 1.5rem;
		--padding-vertical: 2.625rem;
		--spacing: 0.75rem;
	}
	
	h1.style2, h2.style2, h3.style2, p.style2 {
		font-size: 0.875em;
	}

	h1.style1, h2.style1, h3.style1, p.style1 {
		font-size: 0.875em;
	}
	
	h1.style4, h2.style4, h3.style4, p.style4 {
		font-size: 1em;
	}
	
	.icons.style1 {
		gap: 0.65625rem;
	}
	
	.buttons.style1 {
		gap: 0.5625rem;
	}
	
	.container.style1 > .wrapper > .inner {
		--gutters: 1.5rem;
	}
	
	.container.style2 > .wrapper > .inner {
		--gutters: 1.5rem;
		--padding-horizontal: 0rem;
		--padding-vertical: 0rem;
	}
	

	
	.image.style1 .frame {
		height: 17.5rem !important;
	}
}